@import "tailwindcss";

:root {
  --background: #FAFAFA;
}

@theme inline {
  --color-background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0a0a0a;
  }
}

body {
  font-family: var(--font-poppins);
  background-color: var(--background);
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }

  .button {
    @apply px-3 py-2 text-[#003049] font-semibold bg-white rounded-full border border-white transition duration-300 hover:bg-[#fcbf49] hover:border-[#ffe9e9] hover:text-white hover:cursor-pointer active:scale-95 text-xs sm:text-base
  }

  .fill-cover {
    object-fit: cover;
  }
  
}
